.create-form {
  width: 50%;
  margin: 1rem auto;
}
.create-form-title {
  width: 100%;
  border: 1px solid #008080;
  height: 2rem;
  border-radius: 0.3rem;
  padding: 0.5rem;
}
.create-form-title:focus {
  outline: none;
}
