.modal-container {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  width: 500px;
  max-width: 90%;
  margin: 5% auto;
  background-color: #fff;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.146);
}
