.modal-container {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  margin: 5% auto;
  background: white;
  border: 1px solid #ccc;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.146);
}
